<div class="clear"></div>
<footer class="bg-body-tertiary text-center text-lg-start fixed-bottom">
	<div class="col small text-center text-muted fst-italic dark-bg"> Dieses Projekt wird unterstützt von</div>
	<div class="row dark-bg">
		<div class="col"></div>
		<a class="col" href="https://www.ews-schoenau.de/" target="_blank" rel="noopener noreferrer"><img class="logo-support" src="/assets/images/logo_ews.jpeg"/></a>
		<a class="col" href="http://www.deel28.de/" target="_blank" rel="noopener noreferrer"><img class="logo-support" src="/assets/images/deel28-logo.png" /></a>
		<a class="col link" href="https://www.avalun-ev.de/" target="_blank" rel="noopener noreferrer"><div class="" >Avalun e.V</div></a>
	</div>
	
	<div class="text-center p-3 light-bg">
	  © 2024 Copyright: energie-gewinnen-in-palingen - <a class="text-body" href="/pages/impressum">Impressum</a>
	</div>
	
  </footer>