{% extends "layouts/base.html" %}

{% block head %}
	<link rel="stylesheet" href="/css/pages.css" />
	<link rel="stylesheet" href="/css/charts.css" /> 
	<!-- Chart.js CDN -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
	<script src="/scripts/chartHelper.js"></script>
{% endblock %}


{% block content %}		
<article class="page_content">
	{% for chart in charts %}
	
		<h1>{{chart.Headline}}</h1>
		<h2>{{chart.SubTitle}}</h2>
		<div class="container mt-5">
			<div class="row chart-row">
				<!-- First Row -->
				<div class="col-lg-6 chart-description">
					{% if chart.LeftSide.type == "text"%}
						{{chart.LeftSide.text}}
					{% elif chart.LeftSide.type == "OneNumber"%}
						<div class="oneNumber">{{chart.LeftSide.text}}</div>
					{% elif chart.LeftSide.type == "bulletList" %}
						<ul>
						{% for desc in chart.LeftSide.listDescription %}
							<li>{{desc}}</li>
						{% endfor %}	
						</ul>
					{% else %}
					<div class="chart-container ${chart.LeftSide.type}-chart">
						<canvas id={{chart.LeftSide.Id}}></canvas>
					</div>
					{% Chart chart.LeftSide%}	
					{% endif %}	
				</div>
					
				<div class="col-lg-6">
					{% if chart.RightSide.type == "text"%}
						<div class="chart-description">{{chart.RightSide.text}}</div>
					{% elif chart.RightSide.type == "bulletList" %}
						<ul>
						{% for desc in chart.RightSide.listDescription %}
							<li>{{desc}}</li>
						{% endfor %}	
						</ul>
					{% else %}
					<div class="chart-container {{chart.RightSide.type}}-chart">
						<canvas id={{chart.RightSide.Id}}></canvas>
					</div>
					{% Chart chart.RightSide%}
					{% endif %}
				</div>
				
			</div>
			<div class="extraInformation">{{chart.ExtraInformation}}</div>
		</div>
		
		
		
	{% endfor %}
</article>		
{% endblock %}


